@font-face {
    font-family: Vazir;
    src: url('fonts/Vazir.eot'),format('eot');
    src: url('fonts/Vazir.woff2') format('woff2'),
         url('fonts/Vazir.woff') format('woff'),
         url('fonts/Vazir.ttf') format('truetype');
    font-weight: bolder;
  }


*{
    font-family: Vazir;
}

#header1{
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,1);
    
}


.container{
    margin-top: 5px;
    margin-bottom: 3px;

    /* box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1); */
}

.navbar-brand{
    font-weight: bolder;
    color: #ff0000;
}

.navbar-brand span{
    color: #000000;
}

.nav-item{
    /* border-left: 1px solid rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.3); */
    /* border: 0.8px solid #198754; */
    margin-right: 20px;
    background-color: rgb(255, 255, 255);
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 7px;
    max-height: 38.13px;
}

.nav-item:hover{
    background-color: #198754;
    /* color: aliceblue; */
}

.nav-item:hover .nav-link{
    color: aliceblue;
}


.search-box{
    width: 300px;
    margin-left: 15px;
    display: flexbox;
}


.search1{
    
    border-radius: 50px;
    /* border-top-left-radius: 0px; */
    /* border-bottom-left-radius: 0px; */
    /* padding-left: 100px; */
    border: 0px solid #1987544f;
    background-color: rgba(0, 0, 0, 0.070);   
    width: 300px;
    height: 100%;
    margin-left: 0px;
    padding-right: 15px;

}

.search1:hover{
    outline: 2px solid #0000004f;
}

.search1:focus {
    outline: 2px solid #0000004f;
}


.bi-search{
    /* display: none; */

    transform: translateY(-50px);
    /* z-index: 1; */    
    /* border-top-right-radius: 0px; */
    /* border-bottom-right-radius: 0px; */
    /* border-right: 0px ; */
    /* background-color: #198754; */
    /* color: white; */
}


.basket-btn{
    margin-left: 15px;
}


#carouselExample{

    width: 100%;
    height: 300px;
    overflow: hidden;
    align-items: center;
    justify-content: center;

}

.bi-person-fill{
    color: rgb(255, 255, 255);
    margin-left: 5px;
    margin-right: 0px;    
}


.login-btn{
    width: 150px;
    background-color: #198754;
    color: #ffffff;
}


.bi-search{
    
}


.dropdown-menu{

    margin: 0px 0px 0px 0px ;
    width: 200px;
    border-radius: 10px;
    padding: 2px;

}


.dropdown-hr{
    padding: 0px;
    margin: 0px;
}


.dropdown-item{
    border-radius: 10px;
    padding: 10px 10px 10px 0px;

}

.dropdown-item:hover{

    background-color: #198754;
    color: #ffffff;
}


.dropdown:hover .dropdown-menu{
    display: inline;
}

